.pages_Wrap
    display: flex
    margin-top: 40px
    margin-left: 10vw
    
.pages
    margin-left: 5px
    height: 30px
    width: 30px
    border-radius: 20%
    border: #E89F71
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)
    color:  #E89F71
    outline: none
    font-size: 20px
    font-weight: 400
    text-align: center
    line-height: 30px
    transition: all 500ms ease
    cursor: pointer

.productPage_img_item
    box-shadow: 1px 2px 10px -5px black

.productPage_wrap
    display: flex
    align-items: center
    justify-content: space-evenly

.ProductPage_btn
    margin-top: 20px
    height: 50px
    width: 200px
    background: #E89F71
    color: #ffffff
    border: none
    outline: none
    font-size: 16px
    font-weight: 400
    text-align: center
    line-height: 30px
    transition: all 500ms ease
    box-shadow: 1px 2px 10px -5px black
    &:hover
        background: none
        color: #E89F71
        border: 2px solid #E89F71

@media screen and (max-width: 1180px)
    .productPage_wrap
        flex-direction: column
    .ProductPage_wrap_descr
        margin-top: 20px
    article
        margin-top: 50px !important

@media screen and (max-width: 960px)
    .ProductPage_wrap_descr
        margin-top: 50px
    article
        margin-top: 0 !important
        margin-bottom: 100 !important

@media screen and (max-width: 620px)
    .ProductPage_wrap_descr
        margin-top: 0px

@media screen and (max-width: 480px)
    .ProductPage_wrap_descr
        margin-top: -20px

