// fonts

@font-face
    font-family: "Gilroy"
    src : url("./fonts/Gilroy-Regular.ttf")
    font-weight: 400

@font-face
    font-family: "Gilroy"
    src : url("./fonts/Gilroy-Medium.ttf")
    font-weight: 500

@font-face
    font-family: "Gilroy"
    src : url("./fonts/Gilroy-Semibold.ttf")
    font-weight: 600

@font-face
    font-family: "Gilroy"
    src : url("./fonts/Gilroy-Bold.ttf")
    font-weight: 700

// wrapper

.wrapper
    margin: 0 auto
    max-width: 1440px 

.container_block
    margin: 0 auto
    max-width: 1267px 
    padding: 0 30px

.spinner_Home
    display: flex
    align-items: center
    justify-content: center
    height: 100vh
    width: 100vw
    background-color: #fcf9f4

.spiner
    color: red



