.galleryWrap
    margin-top: 70px
    display: grid
    gap: 16px
    grid-template-columns: auto auto auto auto auto auto
    grid-template-rows: auto auto auto  
    grid-template-areas: "img_6 img_8 img_8 img_2 img_3 img_3 img_5" " img_7 img_7 img_9 img_2 img_3 img_3 img_5" "img_7 img_7 img_9 img_2 img_1 img_4 img_4"


        
.img_1
    grid-area: img_1
    align-self: start

.img_2
    grid-area: img_2
    align-self: center

.img_3
    grid-area: img_3
    align-self: end

.img_4
    grid-area: img_4
    align-self: start

.img_5
    grid-area: img_5
    align-self: end

.img_6
    grid-area: img_6
    align-self: end

.img_7
    grid-area: img_7
    align-self: start

.img_8
   grid-area: img_8
   align-self: end

.img_9
    grid-area: img_9
    align-self: start


    

