
    
.slick-slider
    position: relative

.slick-list
    width: 90%
    
.slick-track
    display: flex
    img
        padding-right: 20px
        width: 100%

.slick-next
    color: rgba(0,0,0,0)
    position: absolute
    width: 48px
    height: 48px
    right: 125px
    top: -65px
    background: url(./content/right.png) 0 0/100% no-repeat
    border: none
    outline: none

.slick-prev
    color: rgba(0,0,0,0)
    right: 190px
    top: -65px
    position: absolute
    width: 48px
    height: 48px
    background: url(./content/left.png) 0 0/100% no-repeat
    border: none
    outline: none

.slick-dots
    list-style-type: none
    position: absolute
    display: flex!important
    right: 40vw
    top: -60px

.slick-slider .slick-dots .slick-active button
    font-size: 0
    background: url(./content/Active.png) center center/cover no-repeat
    border: none
    margin-right: 15px
    width: 27px
    height: 27px

.slick-slider .slick-dots button
    margin-right: 15px
    font-size: 0
    background-color: #D8D8D8
    width: 11px
    height: 11px
    border-radius: 50%
    border: none
    outline: none

.slider_box
    position: relative
    margin-top: 250px
    margin-left: 300px

// media

@media screen and (max-width: 1230px)
    .slick-dots
        right: 35vw


@media screen and (max-width: 960px)
    .slick-dots
        display: none !important
    .slick-arrow
        display: none !important
    .slider_box
        margin-left: 0 !important
    .slick-list
        width: 100%
        padding: 10px !important
    .slick-track
    .slider_box
        margin: 0
        margin-top: 150px !important
        



    



    

